<h1>You played Scissors</h1>

<h1>
   The computer played <%= @computer_move %>
</h1>

<h1>
   You <%= @outcome %>!
</h1>
<h1>
   Play Again?
</h1>
<h2>
   <hr>
   <a href="/rock">Choose Rock</a>
   <hr>
   <a href="/paper">Choose Paper</a>
   <hr>
   <a href="/scissors">Choose Scissors</a>
</h2>
